textarea {
  margin-right: 50px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
}

span {
  color: red;
}

h2 {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  margin-top: 20px;
  display: flex;
}

.lower {
  margin-top: 50px;
}

.address-content {
  display: flex;
}

.address-content p {
  width: 100px;
  border: 1px solid black;
  padding: 5px 10px;
}

.output {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.output > div {
  margin: 5px;
}

.inactive {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid black;
}

.active {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}
